.card {
    display: grid;
    padding-bottom: 3rem;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.card__title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    place-self: start;
    align-items: end;
}
.card__title h3 {
    font-family: "Bold", sans-serif;
}
.card__title p {
    font-family: "Title", sans-serif;
}
.card__image {
    width: 100%;
    display: flex;
}
.card__image img {
    width: 100%;
    object-fit: cover;
    align-items: center;
    justify-content: center;
}
.card__button {
    display: flex;
    align-items: end;
    justify-content: space-around;
}

.card__button button {
    margin-top: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}
.card__button img {
    width: 20px;
}
