@font-face {
  font-family: "Title";
  src: url("./components/assets/fonts/Corinthia.ttf");
}

@font-face {
  font-family: "Thin";
  src: url("./components/assets/fonts/sourcesansprolight.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("./components/assets/fonts/sourcesansprosemibold.ttf");
}

body {
  margin: 0;
  max-width: 1660px;
  min-width: 320px;
  font-size: 16px;
}

.main {
  margin: 8rem 2rem 0 2rem;
}
